.button {
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  cursor: pointer;
  margin: 0.2rem;
  border: none;
  border-radius: 1rem;
  color: black;
  transition: 0.3s;
}
.equal {
  width: 130%;
}
.back {
  width: 8rem;
}
.unos{
  width: 97%;
}
.clean {
  width: 8.5rem;
}

.button:hover {
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

#result {
  display: flex;
  background-color: white;
  justify-content: end;
  align-items: center;
  height: 2.5rem;
  margin: 0.25rem;
  font-size: 2rem;
  color: black;
  padding: 0.5rem;
  border-radius: 1rem;
}
