* {
  margin: 0;
  padding: 0;
}
html,
body,
span,
p,
form,
img,
a,
ul,
ol,
li,
table,
tr,
td,
div {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
h1,h2,h3,h4,h5,h6{
  color: rgb(4, 55, 68);
}
a:hover{
  color: rgb(5, 158, 196);
  transition: .2s;
}
